# Игнорируем виртуальное окружение (оно весит 100мб+, не нужно на гите)
.venv/
venv/
env/

# Игнорируем секреты (САМОЕ ВАЖНОЕ)
.env

# Игнорируем временные файлы Python
__pycache__/
*.py[cod]

# Игнорируем логи
logs/
*.log

# Игнорируем временные Excel файлы
temp_upload_*